/* *********** slider ********** */
.imageSlide{
	border:4px black solid;
	height: 550px;
	border-radius: 20px;
}

/* ********** Student ****** */

.titleShadow{
	text-shadow: 3px 3px 5px #718cd2;
}

.studentImage{
	width:150px;
	height: 150px;
}

/* ******* Comman ************** */
.font{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.font2{
    font-family: 'Times New Roman', Times, serif;
}

.text-color{
    color:#0066cc;
}

.background-color{
	background-color: #0066cc;
}

.letterSpacing{
    letter-spacing: 0.5px;
}

.background-color-blue{
    background-color: #eaf0ff;
}

/* ************ Footer ************ */
footer {
	background-color: #363e50;
}

footer p {
	line-height: 120px;
	color: #fff;
	margin-top: 5px;
    transition: all 2s;
}

footer ul {
	list-style: none;
}

footer ul li {
	display: inline-block;
	margin: 0px 5px;
}

.icon{
   transform: all 2s;
}

.icon:hover {
	color: #5fcdf2;	
}

/* ************** Quote ************* */
.quote{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../images/bg/sea2.jpg');
}

.quoteCard{
	background-color: rgba(224, 229, 234, 0.8);
	box-shadow: 0px 0px 5px gray;
	color:black;
}

/* ************ Blog ********* */
.blog-section{
	box-shadow: 1px 1px 10px #7a7a7a;
	border-top: 1px #121212 solid;
}

/* ************ what's app *********** */
.btn-whatapp{
	position: fixed;
	bottom: 50px;
	right:20px;
	z-index: 999;
}

.icon-whatapp{
	width: 100px;
	height: 100px;
}

/* ************* Tracks ************ */

	
	
	.track-item h2 {
		font-family: 'Spectral', serif;
		font-size: 28px;
		border-bottom: 1px solid #d9dde5;
		color: #121212;
	}
	.img-price{
		position: relative;
	}

	.track-item img {
		width: 100%;
		height: 300px;
	}
	
	.track-item .price {
		font-size: 17px;
		color: #f2745f;
		font-weight: 500;
		letter-spacing: 0.5px;
		padding: 8px 14px;
		position: absolute;
		right: 0%;
		bottom: 0%;
		background-color: rgba(250, 250, 250, 0.9);
	}
	
	.track-item .text-content {
		background-color: #fff;
	}
	
	.track-item h4 {
		font-family: 'Spectral', serif;
		font-size: 18px;
		color: #121212;
	}

/* **************** Team ************** */
.team-thumb{
    border:2px black solid;
    border-radius: 2px;
    filter:drop-shadow(2px 2px 12px black);
    width: 100%;
    height: 400px;
}

.icon-team{
    background-color: rgba(238, 238, 230, 0.4);
    border:1px white solid;
    border-radius: 100%;
}

.icon-team:hover{
    background-color: #4bc2e9;
}

/* *********** instructor ******* */

.instructor-item  a {
	text-decoration: none;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}

 .instructor-item {
	text-align: center;
}

 .instructor-item img {
	max-width: 100%;
	height: 200px;
	overflow: hidden;
	border: 10px solid #eaf0ff;
	border-radius: 50%;
    filter:drop-shadow(2px 2px 10px black);
}

/* *********** Youtube *********** */
.youtube-channel{
	background-image: url('../images/bg/ai.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}



/* ********** About us ********** */

.about-section{
	z-index: 2;
}

.about-part{
	background-color: #0d3d6d;
}

.about-content {
	background-color: #3e77b0b2;
    border:1px white solid;
    border-radius: 10px;
	color:white;
}

.img-about{
	height: 300px;
}

.or{
	font-size: 11px;
    display: inline-flex;
	letter-spacing: 1px;
	border: 2px solid white;
	line-height: 25px;
	border-radius: 50%;
}

.or:hover{
	color:black;
	background-color: white;
	border: 2px solid #0d3d6d;
}

/* *********** Home ********* */
.home-section{
	background-image: url('../images/bg/ai\(1\).png');
	background-size: cover;
	background-position: center;
	min-height: 670px;
	position: relative;
	padding-top: 200px;
}

.video-home{
	border-radius: 20px;
	overflow: hidden;
}

.svg-home-start {
	position: absolute;
	top:0;
	right: 0;
	left:0;
  }

  .svg-home-end {
	top: auto;
	bottom: -1px;
  }
  
  .home-section .row {
	position: relative;
	z-index: 2;
}
  
/* *********** nav ************* */
  .nav-bg{
	background-color: #0d3d6d;
	z-index: 999;
	position: fixed;
	width: 100vw;
  }

.logo{
	width: 50px;
	height: 50px;
}

.navbar-brand-text {
	line-height: normal;
	margin-left: 10px;
	position: relative;
	bottom: 5px;
	font-size: 20px;
  }
  
  .navbar-brand-text small {
	display: block;
	font-size: 10px;
	line-height: 1;
	text-transform: uppercase;
  }

  .nav-item-text-active{
	color:rgb(196, 218, 68);
	text-decoration: none;
  }
  .nav-item-text-active:hover{
	color:white;
  }

.nav-item-text{
text-decoration: none;
color: whitesmoke;
}

.nav-item-text:hover{
	color:rgb(196, 218, 68);
}

.btn-switch{
border:2px solid rgb(196, 218, 68);
background-color: transparent;
color: rgb(196, 218, 68);
text-decoration: none;
}

.div-switch :hover{
	border:2px solid rgb(196, 218, 68);
	background-color: rgb(196, 218, 68);
	color: white;
}
.word-home{
	color:rgb(196, 218, 68);
	font-weight: bold;
}