body {
    background-image: url(bg.jfif);
    background-size: cover;
}

.well {
    background-color: #2e4b3f90;
    box-shadow: 20px 27px 25px 0px #ffffff;
    color: aliceblue;
    font-weight: bolder;
    font-size: 25px;
}

#btn1 {
    background-color: transparent;
    padding: 15px;
    font-weight: bolder;
    border: 2px solid cadetblue;
    border-radius: 50px;
    cursor: pointer;
    color: cadetblue;
    font-size: 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 150px;
}