/* *********** Home ************* */
section.page-heading {
	background-image: url(../img/heading-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center; 
    color:white;
}

/* ********** blog *********** */
.blog-post{
    position: relative;
    background-color: rgba(152, 159, 197, 0.2);
}

.img-blog{
    height: 300px;
}

.blog-content h4 {
	font-family: 'Spectral', serif;
	font-size: 21px;
	color: #121212;
}

.blog-content span {
	font-size: 13px;
	color: #7a7a7a;
	display: inline-block;
}

.blog-content .text-button a {
	font-size: 13px;
	font-weight: 500;
	color: #f2745f;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 12px;
	display: inline-block;
}



.blog-post .date {
	font-size: 17px;
	color: #f2745f;
	font-weight: 500;
	letter-spacing: 0.5px;
    display: inline-flex;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: rgba(250, 250, 250, 0.9);
}

.link-page{
    text-decoration: none;
    color: #f2745f;
}

/* ************ Blog ********* */
.blog-section{
	box-shadow: 1px 1px 10px #7a7a7a;
	border-top: 1px #121212 solid;
}