body {
    background: url(pexels-francesco-ungaro-2835436.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    padding: 15% 0 25px 0;
    /* color: #050820; */
    color: rgb(65, 124, 212);
}

.input-group {
    width: 50%;
    height: 50%;
    text-align: center;
    margin: auto;
}

#btn1 {
    background-color: transparent;
    padding: 15px;
    font-weight: bolder;
    border: 2px solid cadetblue;
    border-radius: 50px;
    cursor: pointer;
    color: cadetblue;
    font-size: 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 150px;
}

.btn-primary {
    font-size: 15px;
    font-weight: bolder;
    color: #050820;
}