body {
    background-image: url(pexels-francesco-ungaro-2835436.jpg);
    background-size: cover;
}

div {
    padding-top: 8%;
    height: 100%;
    width: 100%;
}

button {
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #aad5cd;
    margin: auto;
    transition: 1s;
}

.button {
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #aad5cd;
    border: none;
    font-size: 23px;
    transition: 1s;
}

.button:hover {
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #aaadd5;
    border: none;
    transition: 1s;
}


a {
    text-decoration: none;
}